<!-- register.component.html -->

<div class="register">
    <form class="custom-form" method="post">
      <h1>Registro de Empleados</h1>
      <input
        type="id"        
        name="id"
        placeholder="Numero de empleado"
        required="required"
      />
      <input
        type="password"
        
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <input
        type="password"
        
        name="password"
        placeholder="Repetir contraseña"
        required="required"
      />
      <button type="submit" (click)="register()" class="register-btn">Registrar</button>
    </form>
  </div>